{{include file="header.html"}}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                  <h1 class="h2">Biography</h1>
                  <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                     
                    </div>
                   
                  </div>
                </div>
                  <h6 class="h6">Current image</h6> <br>
                  <img id="preview" src="/uploads/{{$bio['url']}}" width="100" height="100"> 
                    <div style="clear: both;"></div>
                <div class="my-4"  width="900" height="380">
                  

                    <form id="upload_form" enctype="multipart/form-data" method="post" action="/admin/biography/upload/">
                      <div>
                        
                          <div><input type="file" name="image_file" id="image_file" onchange="fileSelected();" />  <input type="button" value="Upload" onclick="startUploading()" /></div>
                      
                        </div>
                      <div>
                        
                      </div>
                      <div id="fileinfo">
                          <div id="filename"></div>
                          <div id="filesize"></div>
                          <div id="filetype"></div>
                          <div id="filedim"></div>
                      </div>
                      <div id="error">You should select valid image files only!</div>
                      <div id="error2">An error occurred while uploading the file</div>
                      <div id="abort">The upload has been canceled by the user or the browser dropped the connection</div>
                      <div id="warnsize">Your file is very big. We can't accept it. Please select more small file</div>
  
                      <div id="progress_info">
                          <div id="progress"></div>
                          <div id="progress_percent">&nbsp;</div>
                          <div class="clear_both"></div>
                          <div id="upload_response"></div>
                      </div>
                  </form> 

                </div>
                <div style="clear: both;"></div>
                <div class="my-4"  width="900" height="380">
                    <form method="post" action="/admin/biography/save/">
                        <div class="form-group">
                          <label for="text">Name:</label>
                          <input type="text" class="form-control" name="name" value="{{$bio['name']}}">
                        </div>
                        <div class="form-group">
                          <label for="pwd">Content:</label>
                          <textarea class="form-control editor" name="biograpyContent">{{$bio['story']}}</textarea>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>

                  
                    <span>{{$ERROR}}</span>
                    
                </div>
              </main>
    {{include file="footer.html"}}
  