<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8" />	
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <title></title>

		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel='stylesheet' id='contact-form-7-css'  href='{{$base_url}}assets/css/admin/style.css' type='text/css' media='all' />
    </head>
<!------ Include the above in your HEAD tag ---------->
<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first"> 
         
    <img src="{{$base_url}}assets/images/admin/login.png" id="icon" alt="User Icon" />
    
    </div>

    <!-- Login Form -->
    <form method="POST" action="login/process">
       <span>{{$msg}}</span>
       
      <input type="text" id="login" class="fadeIn second" name="{{$session_id}}username" placeholder="login">
      <input type="password" id="password" class="fadeIn third" name="{{$session_id}}password" placeholder="password">
      <input type="hidden" name="hash" value="{{$session_id}}">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
</body></html>