{{include file="header.html"}}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                  <h1 class="h2">Pages</h1>{{if $page['heading']}}- <h4 class="h4">{{$page['heading']}}</h4>{{/if}}
                  <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                     
                    </div>
                   
                  </div>
                </div>
      
                <div class="my-4"  width="900" height="380">
                    <form method="post" action="/admin/pages/save/">
                        <div class="form-group">
                          <label for="text">Heading:</label>
                          <input type="text" class="form-control" name="heading" value="{{$page['heading']}}">
                        </div>
                        <div class="form-group">
                          <label for="text">Order No:</label>
                          <input type="text" class="form-control" name="order_no" value="{{$page['order_no']}}">
                        </div>
                        <div class="form-group">
                          <label for="pwd">Content:</label>
                          <textarea class="form-control" name="content">{{$page['content']}}</textarea>
                        </div>
                        <input type="hidden" name="pageID" value="{{$page['hash_id']}}">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <span>{{$ERROR}}</span>
                </div>
      
                <h2>List</h2>
                <div class="table-responsive">
                  <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Sr no</th>
                            <th>Heading</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{foreach $allpages as $index => $rows}}
                      <tr>
                        <td>{{$index+1}}</td>
                        <td>{{$rows['heading']}}</td>
                        <td>{{$rows['content']}}</td>
                        <td><a href="/admin/pages/edit/{{$rows['hash_id']}}" >Edit</a> | <a href="/admin/pages/delete/{{$rows['hash_id']}}" >DELETE</a></td>
                    </tr>
                     {{/foreach}}
                    </tbody>
                  </table>
                </div>
              </main>
    {{include file="footer.html"}}
  