{{include file='header.html'}}
 <input type="hidden" id="txt_slidespeed" value="3000"/>
{{include file='frontend/homepage.html'}}
	        
<!-- *** Testimonial Slider Starts *** -->
{{foreach $pages as $index => $row}}
{{include file="frontend/pages.html"}}
{{/foreach}}
              
<!-- review Section -->
{{include file="frontend/reviews.html"}}
<!-- Demo Section -->
{{include file="frontend/bio.html"}}

{{include file="frontend/demo.html"}}

{{include file="frontend/contactme.html"}}

    <div id ="slspeed" sliderspeed=""></div>
<input type="hidden" id="back-to-top" value="0"/> 
<div class="outer-footer">
    <div class="container">
        <div class="footer-widget-area">
        </div>
    </div>
</div>
{{include file='footer.html'}}