<section id="section5" class=" contactUs contact_section parallax-lite" data-center="background-position: 50% 0px" data-top-bottom="background-position: 50% -100px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Me</h2>
                    <!-- <h3 class="section-subheading text-muted contact"></h3> -->
                </div>
            </div>
            <div class="row">
                <div class="cnt-div  wow fadeInRight" data-wow-delay="0s">
                    <div class="wpforms-container wpforms-container-full" id="wpforms-110">
                        <form id="" class="wpforms-validate wpforms-form" data-formid="110" method="post" enctype="multipart/form-data" action="/">
                            <div class="wpforms-field-container">
                                <div id="form_name-container" class="wpforms-field wpforms-field-text" data-field-id="3">
                                    <label class="wpforms-field-label" for="form_name">Name <span class="wpforms-required-label">*</span></label>
                                    <input type="text" id="form_name" class="wpforms-field-medium wpforms-field-required" name="name" required>
                                </div>
                                <div id="email-container" class="wpforms-field wpforms-field-email" data-field-id="1">
                                    <label class="wpforms-field-label" for="email">Email <span class="wpforms-required-label">*</span></label>
                                    <input type="email" id="email" class="wpforms-field-medium wpforms-field-required" name="email" required>
                                </div>
                                <div id="form-comment-container" class="wpforms-field wpforms-field-textarea" data-field-id="2">
                                    <label class="wpforms-field-label" for="form-comment">Comment or Message <span class="wpforms-required-label">*</span></label>
                                    <textarea id="form-comment" class="wpforms-field-medium wpforms-field-required" name="wpforms[fields][2]" required></textarea>
                                </div>
                            </div>
                            <div class="wpforms-submit-container" ><input type="hidden" name="wpforms[id]" value="110"><input type="hidden" name="wpforms[author]" value="1">
                                <input type="hidden" name="wpforms[post_id]" value="1">
                                <button type="submit" name="wpforms[submit]" class="wpforms-submit " id="wpforms-submit-110" value="wpforms-submit" aria-live="assertive" >Submit</button>
                            </div>
                        </form>
                    </div>  <!-- .wpforms-container -->                
                </div>
            </div>
        </div>
    </section>