<section class=" demo bg-light-gray " data-center=""  data-top-bottom="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                 <h2 class="section-heading">Demo</h2>
            </div>
        </div> 
        <div class="wow fadeInRight" data-wow-duration="2s">
          {{*  <!--Sample code
                <div class="team-member">
                        <a href="#"><img src="{{$base_url}}/assets/images/Team-Placeholder.jpg" class="img-responsive img-circle" alt=""></a>
                        <a href="#"><h4>Kay Garland</h4></a>
                        <p class="text-muted">Lead Designer</p>
                    </div>
                </div>
                 -->
                 *}}
        {{foreach $demo as $subArr}}
            <div class="row" >
                {{foreach $subArr as $row}}
                    <div class="col-sm-4 th-1">
                        <div class="team-member img-responsive">
                                <iframe  src="{{$row['embeded']}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                {{/foreach}}
            </div>
        {{/foreach}} 
    </div> 
</div>
</section>
             