
<!DOCTYPE html>
<html lang="en-US">
   
<body id="page-top" class="home page-template page-template-template-frontpage page-template-template-frontpage-php page page-id-171 index">

<!-- review Section -->
<!-- Demo Section -->


<section class=" demo bg-light-gray " data-center=""  data-top-bottom="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                     <h2 class="section-heading">Demo</h2>
                </div>
            </div> 
            <div class="wow fadeInRight" data-wow-duration="2s">
                <!--Sample code
                    <div class="team-member">
                            <a href="#"><img src="http://sandbox.anjali-maya.local\/assets/images/Team-Placeholder.jpg" class="img-responsive img-circle" alt=""></a>
                            <a href="#"><h4>Kay Garland</h4></a>
                            <p class="text-muted">Lead Designer</p>
                        </div>
                    </div>
                     -->
         
    
                         
    
                <div class="row" >
                                        <div class="col-sm-4 th-1">
                            <div class="team-member img-responsive">
                                    <iframe  src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        
                            </div>
                        </div>
                                        <div class="col-sm-4 th-1">
                            <div class="team-member img-responsive">
                                    <iframe  src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        
                            </div>
                        </div>
                                        <div class="col-sm-4 th-1">
                            <div class="team-member img-responsive">
                                    <iframe  src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        
                            </div>
                        </div>
                </div>
                         
                <div class="row" >
                                        <div class="col-sm-4 th-1">
                            <div class="team-member img-responsive">
                                    <iframe  src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        
                            </div>
                        </div>
                </div>
                           
        </div> 
    </div>
    </section>
             
<section  class=" contactUs contact_section parallax-lite" data-center="background-position: 50% 0px" data-top-bottom="background-position: 50% -100px;">        <div class="container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Me</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="well well-sm">
                    <form class="form-horizontal" method="post" action="/home/feedback">
                        <fieldset>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center">&nbsp;</span>
                                <div class="col-md-8">
                                    <input id="fname" name="name" type="text" placeholder="First Name" class="form-control">
                                </div>
                            </div>
                            <!--div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center">&nbsp;</span>
                                <div class="col-md-8">
                                    <input id="lname" name="name" type="text" placeholder="Last Name" class="form-control">
                                </div>
                            </div>-->

                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center">&nbsp;</span>
                                <div class="col-md-8">
                                    <input id="email" name="email" type="text" placeholder="Email Address" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center">&nbsp;</span>
                                <div class="col-md-8">
                                    <input id="phone" name="phone" type="text" placeholder="Phone" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center">&nbsp;</span>
                                <div class="col-md-8">
                                    <textarea class="form-control" id="message" name="message" placeholder="Enter your massage for us here. We will get back to you within 2 business days." rows="7"></textarea>
                                </div>
                            </div>

                            <div class="form-group"> 
                                <span class="col-md-1 col-md-offset-2 text-center">&nbsp;</span>
                                <div class="col-md-8 text-center">
                                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
                    
        <div class="row">
                <div class="form-group"> 
                    <span class="col-md-1 col-md-offset-2 text-center">&nbsp;</span>
                <div class="col-md-8 text-center">
                    <a href="" target="_blank"><h2 class="section-heading"><mark>Leave Data Management to Experts</mark></h2></a>
                </div>
            </div>
        </div>
    </div>
</section>


    <div id ="slspeed" sliderspeed=""></div>
<input type="hidden" id="back-to-top" value="0"/> 
<div class="outer-footer">
    <div class="container">
        <div class="footer-widget-area">
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
</footer>
<link rel='stylesheet' id='wpforms-full-css'  href='http://sandbox.anjali-maya.local\/assets/css/forms-full.css?ver=1.5.3.1' type='text/css' media='all' />
<script type='text/javascript'>

</script>
<script type='text/javascript' src='http://sandbox.anjali-maya.local\/assets/js/scripts.js?ver=5.1.3'></script>
<script type='text/javascript' src='http://sandbox.anjali-maya.local\/assets/js/superfish.js?ver=21032016'></script>
<script type='text/javascript' src='http://sandbox.anjali-maya.local\/assets/js/jqBootstrapValidation.js?ver=21032016'></script>
<script type='text/javascript' src='http://sandbox.anjali-maya.local\/assets/js/bootstrap.js?ver=21032016'></script>
<script type='text/javascript' src='http://sandbox.anjali-maya.local\/assets/js/jquery.flexslider.js?ver=21032016'></script>
<script type='text/javascript' src='http://sandbox.anjali-maya.local\/assets/js/jquery.easing.1.3.js?ver=21032016'></script>
<script type='text/javascript' src='http://sandbox.anjali-maya.local\/assets/js/hammer.js?ver=21032016'></script>
<script type='text/javascript' src='http://sandbox.anjali-maya.local\/assets/js/jquery.prettyPhoto.js?ver=21032016'></script>
<script type='text/javascript' src='http://sandbox.anjali-maya.local\/assets/js/jquery.jcarousellite.js?ver=21032016'></script>
<script type='text/javascript' src='http://sandbox.anjali-maya.local\/assets/js/jQuery.scrollSpeed.js?ver=21032016'></script>
<script type='text/javascript' src='http://sandbox.anjali-maya.local\/assets/js/jquery.bxslider.js?ver=21032016'></script>
<script type='text/javascript' src='http://sandbox.anjali-maya.local\/assets/js/parallax.js?ver=4.9.8'></script>
<script type='text/javascript' src='http://sandbox.anjali-maya.local\/assets/js/imagesloaded.js?ver=21032016'></script>
<script type='text/javascript' src='http://sandbox.anjali-maya.local\/assets/js/wow.js?ver=21032016'></script>
<script type='text/javascript' src='http://sandbox.anjali-maya.local\/assets/js/jquery.poptrox.js?ver=4.9.8'></script>
<script type='text/javascript' src='http://sandbox.anjali-maya.local\/assets/js/custom.js?ver=21032016'></script>
<script type='text/javascript' src='http://sandbox.anjali-maya.local\/assets/js/wp-embed.min.js?ver=4.9.8'></script>
<script type='text/javascript' src='http://sandbox.anjali-maya.local\/assets/js/jquery.validate.min.js?ver=1.19.0'></script>
<script type='text/javascript' src='http://sandbox.anjali-maya.local\/assets/js/mailcheck.min.js?ver=1.1.2'></script>
<script type='text/javascript' src='http://sandbox.anjali-maya.local\/assets/js/wpforms.js?ver=1.5.3.1'></script>
</body>
</html>