<div id="slides_full" class="NovelLite_slider">
    <div class="flexslider novelpro_slider parallax-lite default">
        <ul class="slides slides-container">
            <li data-center="background-position: 50% 0px" data-top-bottom="background-position: 50% -100px;" style="background:url('{{$base_url}}/assets/images/Home-Page.jpeg')">
                <div class="slider_overlay"></div>
                <div class="container slider1 container_caption wow fadeInDown" data-wow-duration="2s">
                    <h1 class="section1"><a href="#"><mark>Focus on Sales Conversion</mark></a></h1>
                    <div class="clearfix"></div>
                    <p><mark>Leave Data Management to Experts</mark></p>
                    <div class="clearfix"></div>
                </div>
            </li> 
        </ul> 
    </div>
</div>