<section id="section3" class="review" data-center=""  data-top-bottom="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center demo_review">
                <h2 class="section-heading"><mark>Reviews</mark></h2>
                    <h3 class="section-subheading text-muted"></h3>
            </div>
        </div> 

        {{foreach $reviews as $subArr}}
        <div class="row"> 
         
            <div class="col-lg-12">   
                <div class="home_blog_content gallery wow fadeInLeft" data-wow-duration="2s">
               
                    {{foreach $subArr as $row}}
                    <!--Start post-->
                    <div class="post animated" style="--webkit-animation-delay: 0.4s; --webkit-animation-delay: 0.4s; --moz-animation-delay: 0.4s; --o-animation-delay: 0.4s; --ms-animation-delay: 0.4s;">
                        <div class="post_inner">
                            <div class="post_thumbnil">
                            </div>
                            <div class="post_content">
                                <h1 class="post_title"><a href="#" rel="bookmark" title="">{{$row['content']}}</a> </h1>
                                <p class="post_comment">{{$row['comment']}}</p>
                                <ul class="post_meta">
                                    <li class="posted_by"><span>by </span><a href="javascript:void(0);" title="Posts by {{$row['author']}}" rel="author">{{$row['author']}}</a></li>
                                    <li class="posted_on"><span></span>{{$row['date']}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {{/foreach}}
                </div>
            </div>
        </div>
         {{/foreach}}
    </div>
</section>